@model IEnumerable<WebApplication3.Models.Textbook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.textbookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textbookModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textbookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.textbookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textbookModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textbookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.textbookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.textbookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.textbookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
